* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    color: #333;
  }
  
  .App {
    min-height: 100vh;
  }
  
  main {
    padding-top: 70px; /* Espacio para el header fijo */
  }
  
  section {
    min-height: 100vh; /* Asegura que cada sección ocupe al menos toda la altura de la ventana */
    width: 100%;
    display: block;
    padding: 80px 20px;
  }